<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patterner Examples</title>
	
	<!-- link the compiled provided patterner css file here -->
	<link href="stylesheets/patterner.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<h1>Example patterns</h1>
	
	<div class="patterner checker"></div>
	<div class="patterner crosshatch"></div>
	<div class="patterner diamond"></div>
	<div class="patterner dots"></div>
	<div class="patterner offset-dots"></div>
	<div class="patterner grid"></div>
	<div class="patterner blueprint"></div>
	<div class="patterner plus"></div>
	<div class="patterner horizontal-stripes"></div>
	<div class="patterner vertical-stripes"></div>
	<div class="patterner forward-stripes"></div>
	<div class="patterner backwards-stripes"></div>
	<div class="patterner zigzag"></div>

</body>
</html>